* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: -20px;
}

#miurl a:link {
    color: #000000;
    text-decoration: none;
}

#miurl a:visited {
    color: #000000;
    text-decoration: none;
}

#miurl a:hover {
    color:  #00BFFF;
    text-decoration: none;
}

#miurl a:active {
    color: #00BFFF;
    text-decoration: none;
    top: 1px;
}

#shortener-title {
    text-align: center;
    color: #808080;
    font-family: 'Sriracha', cursive;
    font-size: 22px;
    margin-bottom: 10px;
    
}

nav {
    background-color: #00BFFF;
    height: 40px;
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
}

#home-link {
    color: white;
    text-decoration: none;
    border-style: solid;
    padding: 20px;
}

#home-link:hover {
    background-color: lightblue;
}

#your-url {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#slash-code {
    color: olivedrab;
}

section{
    text-align: center;
}

#sect-div {
    display: inline-block;
}

#link-box {
    color: #00BFFF;
    border: solid;
    border-radius: 10px;
    border-top-color: #00BFFF;
    border-top-width: 40px;
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#link {
    display: inline-block;
    width: 60%;
    padding: 4px;
}

.copy-button {
    display: inline-block;
    margin-bottom: 1em; 
    padding: 4px 10px;
}

#make-more-button {
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    border: none;
    background-color: #8a8a8a;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
}

#make-more-button:hover {
    background-color:  #afafaf;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 6.0rem;
}

footer {
    position: absolute;
    margin-top: 30px;
    background-color: #DCDCDC;
    height: 4.7rem;
    bottom: 0;
    width: 100%;
}

footer h5 {
    color: #5e5e5e;
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}

