<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Sriracha&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='miurl_icon.png') }}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <!--
    This is the base template for the miURL website. It includes the header and footer
    content that is shown on every page.
    -->

    <div id="pageContainer">
        <h1 id="miurl"><a href="{{ url_for('home') }}">miURL</a></h1>

        <h2 id="shortenerTitle">URL Shortener</h2>

        <nav><a id="homeLink" href="{{ url_for('home') }}">Home</a></nav>

        <div id="contentWrap">
            {% block main %}
            {% endblock %}
        </div> <!--contentWrap div ends here-->

        <footer><h5>&copy 2021 miURL</h5></footer>
    </div> <!--pageContainer div ends here-->
    
    {% block js %}{% endblock %}
</body>
</html>



