{% extends 'base.html' %}

{% block title%}miURL{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block main %}
<p id="create">Create a short URL that links to a website or file!</p>

<!--
    Flash a "short name already taken" message if user tries to enter a short name code 
    that already exists.
-->
{% for message in get_flashed_messages() %}
<h2 id="message">{{ message }}</h2>
{% endfor %}

<section>
    <div class="form-group" id="urlForm">
        <form action="your-url" method="post">
            <label for="urlInput">Website URL</label>
            <input type="url" class="input-box" id="urlInput" name="url" required>
            <br>
            <label for="txtShortNameURL">Short Name</label>
            <input type="text" class="input-box" id="txtShortNameURL" name="code" required>
            <br>
            <input type="submit" class="button" value="SHORTEN">
        </form>
    </div> <!--urlForm div ends here-->

    <div class="form-group" id="fileForm">
        <form action="your-url" method="post" enctype="multipart/form-data">
            <label for="fileInput">pdf, png, jpeg, jpg, or gif</label>
            <input type="file" id="fileInput" class="input-box" name="file" required>
            <br>
            <label for="txtShortNameFile">Short Name</label>
            <input type="text" class="input-box" id="txtShortNameFile" name="code" required>
            <br>
            <input type="submit" class="button" value="SHORTEN">
        </form>
    </div> <!--fileForm div ends here-->
</section>

<div id="codesList">
    {% if codes %}
    <h2>Codes You Created</h2>
    
    <ul>
        {% for code in codes %}
        <a class="code-links" href="{{ url_for('redirect_to_url', code=code) }}">
        <li>{{ code }}</li>
        </a>
        {% endfor %}
    </ul>
    {% endif %}
</div> <!--codesList div ends here-->
{% endblock %}
