{% extends 'base.html' %}

{% block title%}'{{ code }}' - miURL{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/your_url.css') }}">
{% endblock %}

{% block main %}

<h1 id="your-url">Your URL for <span id="slash-code">{{ code }}</span></h1>

<section>
    <div id="sect-div">
        <div id="link-box">
            <input id="link" value="http://127.0.0.1:5000/{{ code }}">
            <button class="copy-button" data-clipboard-target="#link">COPY LINK</button>
            <br>
            <a href="{{ url_for('home') }}"><button id="make-more-button">MAKE MORE</button></a>
        </div>
    </div>
</section>
{% endblock %}

<!--The jsDelivr CDN containing clipboard.js is linked below-->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
<script src="{{ url_for('static', filename='js/your_url.js') }}"></script>
{% endblock %}
